<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-8 col-md-offset-2 top-container">
      <div class="col-xs-12 col-sm-4 text-center">
        <figure>
          <img src="http://www.localcrimenews.com/wp-content/uploads/2013/07/default-user-icon-profile.png" alt="" class="img-circle img-responsive" style="width: 80%">
        </figure>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h2 class="text-center" style="color: #D84A33"><%= @user.name + " " %><%= @user.lastname if @user.lastname  %></h2>
        <div class="row">
          <div class="col-xs-12 col-sm-4 text-center">
            <h3 style="margin-bottom: 0"><%= @user.answers.count %></h3>
            <p>Respuestas</p>
          </div>
          <div class="col-xs-12 col-sm-4 text-center">
            <h3 style="margin-bottom: 0"><%= day_streak(@user).count %></h3>
            <p>Cadena Actual</p>
          </div>
          <div class="col-xs-12 col-sm-4 text-center">
            <h3 style="margin-bottom: 0"><%= @user.max_streak %></h3>
            <p>Cadena Máx.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8 col-md-offset-2 col-xs-12" style="background-color: black; padding: 4px 5px 0 8px">
      <% day_streak(@user).each do |answer| %>
        <div id="daily-streak" class="<%= answer[:answer].first.id %> tooltip"></div>
      <% end %>
    </div>


    <div class="col-xs-12 col-sm-8 col-md-offset-2 secondary-container">
      <div class="col-xs-6 col-sm-3 text-center">
        <h3 class="answer-button"><span class="fa fa-stack-exchange"></span> Respuestas</h3>
      </div>
      <% if @user == current_user %>
      <div class="col-xs-6 col-sm-3 pull-right user-edit">
        <div class="btn-group dropup btn-block">
          <button type="button" class="btn btn-primary"><span class="fa fa-gear"></span> Opciones </button>
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu text-left" role="menu">
            <li>
              <%= link_to edit_user_path(current_user) do %>
                Editar Datos
                <span class="fa fa-pencil pull-right"></span>
              <% end %>
            </li>
            <li class="divider"></li>
            <li><%= link_to "<span class='fa fa-warning pull-right'></span> Cancelar cuenta  ".html_safe, registration_path(@user), data: { confirm: "Estas seguro que deseas cancelar tu cuenta?" }, method: :delete %></li>
          </ul>
        </div>
      </div>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-offset-2 answer-list">
      <table class="table" style="margin-top: 10px">
      <% @user.answers.sort_by(&:created_at).reverse.each do |answer| %>
        <tr class="answer">
          <td class="tdate grey text-center">
            <%= answer.created_at.strftime("%b") %>
            <span class="date"><%= answer.created_at.strftime("%d") %></span><br>
            <%= link_to '<span class="fa fa-edit"></span>'.html_safe, edit_question_answer_path(answer.question, answer) %><br>
            <%= link_to '<span class="fa fa-trash"></span>'.html_safe, question_answer_path(answer.question, answer), method: :delete, data: { confirm: '¿Está seguro que desea eliminar la respuesta?' } %><br>
            <% if answer.public_answer == true %>
              <span class="fa fa-users green"><div class="hidden"><%= answer.id %></div></span>
            <% else %>
              <span class="fa fa-users red"><div class="hidden"><%= answer.id %></div></span>
            <% end %>
          </td>
          <td><span class="tconcept grey"><%= answer.question.question %></span><br>
            <p class="concept"><%= markdown answer.answer %></p></td>
        </tr>
      <% end %>
      </table>
    </div>

  </div>
</div>

<script>
$(document).ready(function() {
  var addStreakTooltip = function() {
    $.getJSON( "/pages/streak_tooltip?user=" +  "<%= @user.id %>" ).done(function( response ) {
      console.log(response)
      // $('.' + '<%=  %>')
      for(i = 0; i < response.length; i++) {
        var public_answer_content = function() {
          var public_answer = response[i].public_answer
          if(public_answer == true) {
            return '<span>Esta respuesta es <strong>pública</strong>.</span>'
          } else {
            return '<span>Esta respuesta es <strong>privada</strong>.</span>'
          }
        }
        $('.' + response[i].answer + '.tooltip').tooltipster({
          content: $(' <span><strong>Pregunta: </strong>' + response[i].question + '</span><br><span><strong>Fecha: </strong>' + response[i].day + '</span> <br>' + public_answer_content() + '<br><span>Para ver tu respuesta haz click </span> <a href="/questions/' + response[i].question_id + '/answers/'+ response[i].answer +'">aquí.</a>'),
          interactive: true
        })
      }
    }).fail(function( jqxhr, textStatus, error ) {
        var err = textStatus + ", " + error;
        console.log( "Request Failed: " + err );
    });
  }

  addStreakTooltip();

  $('span.fa-users').on('click', function() {
    var className = $(this).hasClass('green');
    var answer_id = $(this).find('div').text();
    if (className == true) {
      console.log("De verde a rojo")
      $.getJSON( "/pages/public_private_switch?answer_id=" +  answer_id ).done(function( response ) {
        $('.fa-users').removeClass('green')
        $('.fa-users').addClass('red')
        $('*').filter(function() {
            return $(this).data('tooltipsterNs');
        }).tooltipster('destroy');
        addStreakTooltip();
      }).fail(function( jqxhr, textStatus, error ) {
          var err = textStatus + ", " + error;
          console.log( "Request Failed: " + err );
      });
    } else {
      console.log("De rojo a verde")
      $.getJSON( "/pages/public_private_switch?answer_id=" +  answer_id ).done(function( response ) {
        $('.fa-users').removeClass('red')
        $('.fa-users').addClass('green')
        $('*').filter(function() {
            return $(this).data('tooltipsterNs');
        }).tooltipster('destroy');
        addStreakTooltip();
      }).fail(function( jqxhr, textStatus, error ) {
          var err = textStatus + ", " + error;
          console.log( "Request Failed: " + err );
      });
    }
  })

});
</script>