<section class="section section-profile">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="profile-photo-name">
          <div class="square">
            <figure>
             <%= image_tag "profile/profile-test.jpg" %>
             <!-- <svg>
             <clipPath id="clip">
             <polygon points="50 0, 100 50, 50 100, 0 50"></polygon>
             </clipPath>
           </svg> -->
         </figure>
       </div>
       <div class="right-block">
        <h3><%= @user.first_name %></h3>

        <!-- <p class="options pull-right"><a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href=""><i class="fa fa-cog"></i></a><span></span></p> -->

        <div class="dropdown dropdown-container pull-right">
          <button class="btn btn-default dropdown-toggle" type="button" id="menu-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-cog"></i>
            <!-- <span class="caret"></span> -->
          </button>
          <ul class="dropdown-menu" aria-labelledby="menu-options">
            <li class="text-right"><%= link_to " Editar Datos  <span class='fa fa-pencil'></span>".html_safe , edit_user_path(current_user)  %></li>
            <li class="text-right"><%= link_to " Cancelar cuenta  <span class='fa fa-warning'></span>".html_safe, registration_path(@user), data: { confirm: "Estas seguro que deseas cancelar tu cuenta?" }, method: :delete %></li>
          </ul>
        </div>
        <p class="pull-right"><%= @user.answers.count %><span>respuestas</span></p>
      </div>
    </div>
  </div>
</div>

<% if  day_streak(@user).count > 0%>
<div class="row">
  <h2 class="text-center"><strong>Días seguidos</strong></h2>
  <div class="dotted-hide-show" style="width:50.5%; height:100px; border-right: 1px dotted #AEAEAE;"></div>
  <div class="col-lg-6 col-lg-offset-3">
    <ul class="streak-squares">
      <% day_streak(@user).each_with_index do |answer, index| %>
      <li><a href="#" class="<%= answer[:answer].first.id %> tooltip"><%= index + 1 %></a></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>

<h2 class="text-center"><strong>respuestas</strong></h2>
<div class="dotted-hide-show" style="width:50.5%; height:100px; border-right: 1px dotted #AEAEAE;"></div>
</div>
</section>


<script>
  $(document).ready(function() {
    var addStreakTooltip = function() {
      $.getJSON( "/pages/streak_tooltip?user=" +  "<%= @user.id %>" ).done(function( response ) {
        console.log(response)
      // $('.' + '<%=  %>')
      for(i = 0; i < response.length; i++) {
        var public_answer_content = function() {
          var public_answer = response[i].public_answer
          if(public_answer == true) {
            return '<span>Esta respuesta es <strong>pública</strong>.</span>'
          } else {
            return '<span>Esta respuesta es <strong>privada</strong>.</span>'
          }
        }
        $('.' + response[i].answer + '.tooltip').tooltipster({
          content: $(' <span><strong>Pregunta: </strong>' + response[i].question + '</span><br><span><strong>Fecha: </strong>' + response[i].day + '</span> <br>' + public_answer_content() + '<br><span>Para ver tu respuesta haz click </span> <a href="/answers/'+ response[i].answer +'">aquí.</a>'),
          interactive: true
        })
      }
    }).fail(function( jqxhr, textStatus, error ) {
      var err = textStatus + ", " + error;
      console.log( "Request Failed: " + err );
    });
  }

  addStreakTooltip();

  $('span.fa-users').on('click', function() {
    var className = $(this).hasClass('green');
    var answer_id = $(this).find('div').text();
    if (className == true) {
      console.log("De verde a rojo")
      $.getJSON( "/pages/public_private_switch?answer_id=" +  answer_id ).done(function( response ) {
        $('.fa-users').removeClass('green')
        $('.fa-users').addClass('red')
        $('*').filter(function() {
          return $(this).data('tooltipsterNs');
        }).tooltipster('destroy');
        addStreakTooltip();
      }).fail(function( jqxhr, textStatus, error ) {
        var err = textStatus + ", " + error;
        console.log( "Request Failed: " + err );
      });
    } else {
      console.log("De rojo a verde")
      $.getJSON( "/pages/public_private_switch?answer_id=" +  answer_id ).done(function( response ) {
        $('.fa-users').removeClass('red')
        $('.fa-users').addClass('green')
        $('*').filter(function() {
          return $(this).data('tooltipsterNs');
        }).tooltipster('destroy');
        addStreakTooltip();
      }).fail(function( jqxhr, textStatus, error ) {
        var err = textStatus + ", " + error;
        console.log( "Request Failed: " + err );
      });
    }
  })

});
</script>
