Editar usuario! <%= @temp %>


<h2>Edit <%= @user.name.humanize %></h2>

<%= form_for(@user, :url => user_path(@user) ) do |f| %>
	
	<div class="field">
	  <%= f.label :name %><br />
	  <%= f.text_field :name, autofocus: true %>
	</div>

	<div class="field">
	  <%= f.label :lastname %><br />
	  <%= f.text_field :lastname %>
	</div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if !facebook_user? %>
    <div class="field">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>
  <% end %>
  
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancelar mi cuenta</h3>

<p>No estas a gusto? <%= button_to "Cancelar Cuenta", registration_path(@user), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Regresar", :back %>